<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order, <%= @user %> </h1>
    <p>
      If you are unhappy with your order, too bad. All
      sales are final and there are absolutely no refunds.
      Your order details are as follows:

      <% @order.line_items.each do |line_item| %>
      <%= render 'item', product_id: line_item.product_id, line_total: line_item.total_price %>

      <% end %>

      Your order total: <%= humanized_money_with_symbol @order.total %>

    </p>
    <p>
      To waste more money, please return to Jungle <%= @url %>.
    </p>
    <p>Thanks for your dough and have a great day! <br/>
    Your friends at <br/>
    JUNGLE.</p>
  </body>
</html>