<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order, </h1>
    <p>
      If you are unhappy with your order, too bad. All<br>
      sales are final and there are absolutely no refunds.
    </p>
    <p>
      To waste more money, please return to Jungle <%= @url %>.
    </p>
    <p>Thanks for your dough and have a great day! <br/>
    Your friends at JUNGLE.</p>
  </body>
</html>