<h1 class="page-header">Welcome Admin </h1>
<h2>Add a New Product to your Inventory</h2>
  <div class="well">
    <%= link_to '+ New Product', [:new, :admin, :product], class: 'btn btn-info' %>
  </div>
<h2>Add a New Category</h2>
  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>