<div class="col-sm-8">
  <div class="well">
    <dl class="dl-horizontal">
      <h4>Product Rating: <%= rating %> out of 5<br/></h4>
      Created by <strong><%= user %></strong> about <%= time_ago_in_words(created_at) %> ago <br/><br/>
      <h5><%= description %></h5>

    </dl>
  </div>
</div>

